<a href="https://colab.research.google.com/github/yangbingyi226/DataScience/blob/master/5_python%E5%9F%BA%E7%A4%8E%E7%B5%B1%E8%A8%88%E5%88%86%E6%9E%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
!wget https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/sp500.csv
!wget https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/omh.csv

--2019-12-10 03:27:32--  https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/sp500.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 83629 (82K) [text/plain]
Saving to: ‘sp500.csv.1’

sp500.csv.1         100%[===================>]  81.67K  --.-KB/s    in 0.02s

2019-12-10 03:27:32 (3.24 MB/s) - ‘sp500.csv.1’ saved [83629/83629]

--2019-12-10 03:27:33--  https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/omh.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 539 [text/plain]
Saving to: ‘omh.csv.1’

omh.csv.1           100%[===================>]     539  --.-KB/s    in 0s

2019-12-10 03:27:34 (118 MB/s) - ‘omh.csv.1’ saved [539/539]

In [0]:
# -*- coding: utf-8 -*-
import numpy as np
import pandas as pd

In [0]:
# used for dates
import datetime
from datetime import datetime, date

In [0]:
# Set formattign options
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 7)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 60)

In [0]:
# bring in matplotlib for graphics
import matplotlib.pyplot as plt
# %matplotlib inline

In [0]:
# read in the data and print the first five rows
# use the Symbol column as the index, and 
# only read in columns in positions 0, 2, 3, 7
sp500 = pd.read_csv("sp500.csv", 
                    index_col='Symbol', 
                    usecols=[0, 2, 3, 7])

In [0]:
# one month of stock history data
omh = pd.read_csv("omh.csv")

# **8.2 對pandas物件執行算術運算**

## **DataFrame or Series的簡單運算**

In [0]:
# set the seed to allow replicatable results
np.random.seed(123456)

In [70]:
# set the seed to allow replicatable results
np.random.seed(123456)
# create the DataFrame
df = pd.DataFrame(np.random.randn(5, 4), 
                  columns=['A', 'B', 'C', 'D'])
df

          A         B         C         D
0  0.469112 -0.282863 -1.509059 -1.135632
1  1.212112 -0.173215  0.119209 -1.044236
2 -0.861849 -2.104569 -0.494929  1.071804
3  0.721555 -0.706771 -1.039575  0.271860
4 -0.424972  0.567020  0.276232 -1.087401

In [71]:
# multiply everything by 2
df * 2

          A         B         C         D
0  0.938225 -0.565727 -3.018117 -2.271265
1  2.424224 -0.346429  0.238417 -2.088472
2 -1.723698 -4.209138 -0.989859  2.143608
3  1.443110 -1.413542 -2.079150  0.543720
4 -0.849945  1.134041  0.552464 -2.174801

In [0]:
# get first row 
s = df.iloc[0]

In [73]:
# subtract first row from every row of the DataFrame
diff = df - s 
diff

          A         B         C         D
0  0.000000  0.000000  0.000000  0.000000
1  0.743000  0.109649  1.628267  0.091396
2 -1.330961 -1.821706  1.014129  2.207436
3  0.252443 -0.423908  0.469484  1.407492
4 -0.894085  0.849884  1.785291  0.048232

In [74]:
# subtract DataFrame from Series
diff2 = s - df
diff2

          A         B         C         D
0  0.000000  0.000000  0.000000  0.000000
1 -0.743000 -0.109649 -1.628267 -0.091396
2  1.330961  1.821706 -1.014129 -2.207436
3 -0.252443  0.423908 -0.469484 -1.407492
4  0.894085 -0.849884 -1.785291 -0.048232

In [75]:
# B, C
s2 = s[1:3]
# add E
s2['E'] = 0
# see how alignment is applied in math
df + s2

    A         B         C   D   E
0 NaN -0.565727 -3.018117 NaN NaN
1 NaN -0.456078 -1.389850 NaN NaN
2 NaN -2.387433 -2.003988 NaN NaN
3 NaN -0.989634 -2.548633 NaN NaN
4 NaN  0.284157 -1.232826 NaN NaN

In [76]:
# get rows 1 through three, and only B, C columns
subframe = df[1:4][['B', 'C']]
# we have extracted a little square in the middle of df
subframe

          B         C
1 -0.173215  0.119209
2 -2.104569 -0.494929
3 -0.706771 -1.039575

In [77]:
# demonstrate the alignment of the subtraction
df - subframe

    A    B    C   D
0 NaN  NaN  NaN NaN
1 NaN  0.0  0.0 NaN
2 NaN  0.0  0.0 NaN
3 NaN  0.0  0.0 NaN
4 NaN  NaN  NaN NaN

In [78]:
# get the A column
a_col = df['A']
df.sub(a_col, axis=0)

     A         B         C         D
0  0.0 -0.751976 -1.978171 -1.604745
1  0.0 -1.385327 -1.092903 -2.256348
2  0.0 -1.242720  0.366920  1.933653
3  0.0 -1.428326 -1.761130 -0.449695
4  0.0  0.991993  0.701204 -0.662428

## **Counts of values**

In [79]:
s = pd.Series(['a', 'a', 'b', 'c', np.NaN])
# number of occurrences of each unique value
s.count()

4

## **Unique and number of unique values**

In [80]:
# return a list of unique items
s.unique()

s.nunique()

s.nunique(dropna=False)

4

## **get summary stats on non-numeric data**

In [81]:
s.value_counts(dropna=False)

a      2
c      1
b      1
NaN    1
dtype: int64

## **Minimum and maximums**

In [82]:
# location of min price for both stocks
omh[['MSFT', 'AAPL']].min()

MSFT     45.16
AAPL    106.75
dtype: float64

In [83]:
# and location of the max
omh[['MSFT', 'AAPL']].max()

MSFT     48.84
AAPL    115.93
dtype: float64

In [84]:
# location of min price for both stocks
omh[['MSFT', 'AAPL']].idxmin()

MSFT    11
AAPL    11
dtype: int64

In [85]:
# and location of the max
omh[['MSFT', 'AAPL']].idxmax()

MSFT    3
AAPL    2
dtype: int64

## **Smallest and Largest Values**

In [86]:
# get the 4 smallest values
omh.nsmallest(4, ['MSFT'])['MSFT']

11    45.16
12    45.74
21    46.45
10    46.67
Name: MSFT, dtype: float64

In [87]:
# get the 4 largest values
omh.nlargest(4, ['MSFT'])['MSFT']

3     48.84
0     48.62
1     48.46
16    48.45
Name: MSFT, dtype: float64

In [88]:
# nsmallest on a Series
omh.MSFT.nsmallest(4)

11    45.16
12    45.74
21    46.45
10    46.67
Name: MSFT, dtype: float64

## **Accumulations**

In [89]:
# calculate a cumulative product
pd.Series([1, 2, 3, 4]).cumprod()

0     1
1     2
2     6
3    24
dtype: int64

In [90]:
# calculate a cumulative sum
pd.Series([1, 2, 3, 4]).cumsum()

0     1
1     3
2     6
3    10
dtype: int64

# **8.3 描述統計學descriptive statistics**

## **get summary statistics for the stock data**

In [91]:
omh.describe()

            MSFT        AAPL
count  22.000000   22.000000
mean   47.493182  112.411364
std     0.933077    2.388772
min    45.160000  106.750000
25%    46.967500  111.660000
50%    47.625000  112.530000
75%    48.125000  114.087500
max    48.840000  115.930000

## **just the stats for MSFT**

In [92]:
omh.MSFT.describe()

count    22.000000
mean     47.493182
std       0.933077
min      45.160000
25%      46.967500
50%      47.625000
75%      48.125000
max      48.840000
Name: MSFT, dtype: float64

## **only the mean for MSFT**

In [93]:
omh.MSFT.describe()['mean']

47.49318181818182

## **get summary stats on non-numeric data**

In [94]:
s = pd.Series(['a', 'a', 'b', 'c', np.NaN])
s.describe()

count     4
unique    3
top       a
freq      2
dtype: object

# **8.3.2.集中趨勢:**

## **Mean平均值**

In [95]:
# the mean of all the columns in omh
omh.mean()

# calc the mean of the values in each row
omh.mean(axis=1)[:5]

0    81.845
1    81.545
2    82.005
3    82.165
4    81.710
dtype: float64

## **Median中位數**

In [96]:
# calc the median of the values in each column
omh.median()

MSFT     47.625
AAPL    112.530
dtype: float64

## **Mode眾數**

In [97]:
# find the mode of this Series
s = pd.Series([1, 2, 3, 3, 5])
s.mode()

# there can be more than one mode
s = pd.Series([1, 2, 3, 3, 5, 1])
s.mode()

0    1
1    3
dtype: int64

# **8.3.3.離散趨勢**

## **Variance變異數**

In [98]:
# calc the variance of the values in each column
omh.var()

# Standard Deviation標準差

# standard deviation
omh.std()

MSFT    0.933077
AAPL    2.388772
dtype: float64

## **Covariane共變數**

In [99]:
# covariance of MSFT vs AAPL
omh.MSFT.cov(omh.AAPL)

1.9261240259740264

# **隨堂測驗**

A班同學的資安課程分數如下:60,59,61,62,58,60

B班同學的資安課程分數如下:60,54,66,71,49,60

計算每班的描述統計

In [0]:
A = pd.Series([60, 59, 61, 62, 60])
B = pd.Series([60, 54, 66, 71, 60])

In [112]:
A.describe()

count     5.000000
mean     60.400000
std       1.140175
min      59.000000
25%      60.000000
50%      60.000000
75%      61.000000
max      62.000000
dtype: float64

In [113]:
B.describe()

count     5.000000
mean     62.200000
std       6.496153
min      54.000000
25%      60.000000
50%      60.000000
75%      66.000000
max      71.000000
dtype: float64